@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #15161d;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    padding-left: 13vw;
    padding-right: 13vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}




.container .p {
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, .8);
}



.btn {
    background: transparent;
    border: solid rgba(255, 255, 255, 0.5) 2px;
    border-radius: 25px;
    color: white;
    padding: 10px 30px 10px 30px;
    /* margin-top: 30px; */
    font-size: 18px;
}

.btn:hover {
    background-color: white;
    color: darkblue;
}

.p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px
}

.footer-end a {
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    color: white;
}